*, *::after, *::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  
}
body {
  background-image: linear-gradient(250deg,rgb(92, 255, 255), rgb(255, 255, 255), rgb(25, 177, 204)); ;
  overflow: hidden;
  

}
.body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  
}

.clock {
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  border: 2px solid rgb(2, 46, 40);
  position: relative;
  box-shadow: 1px 1px 5px 10px rgb(2, 46, 40);
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(2, 46, 40);
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}

.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}



/* dark mode */
.mode1 {
  display: flex;
  align-items: center;
  z-index: 2000;
 
}


.D_mode {
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: currentColor;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(2, 46, 40) ;
}

.L_mode {
  display: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: currentColor;
  text-transform: uppercase;
  font-weight: bold;  
}
.checkbox {
	opacity: 0;
  position: absolute;
}

.label {
  float: right;
  margin: 10px;
	background-color: rgb(2, 46, 40);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px;
	position: relative;
	height: 10px;
	width: 10px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 17px;
	width: 17px;
	transform: translateX(0px);
  transition: transform 0.3s linear;
  margin: auto;  
}

.checkbox:checked + .label .ball {
	transform: translateX(20px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.dark {
  background-color: #141418;
  background-image: linear-gradient(300deg,#141418, #ece9e9, #040405 );
  color: #fff;
  
}

body.dark .label{
  background-color: #141418;
}


body.dark .clock {
  background-color: #fafafa;
  color: rgb(87, 9, 9);
  box-shadow: 1px 1px 5px 10px #141418;
}


body.dark .L_mode {
  display: block;
  color: #141418;
}

body.dark .D_mode {
  display: none;
}
